<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style_main.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fabien Julio</title>
</head>
<body>
    <!-- en-tete de page -->
    <header>
        <p id="elements_gauche">
            <!-- miniature du logo -->
            <img class="logo" src="/icones/" alt="logo talky"/>
        </p>
        <p id="elements_droite">
            <!-- barre de recherche -->
            <input id="barre_recherche">
            <!-- options du menu deroulante -->
            <img id="menu" src="/icones/" alt="menu deroulante"/>
        </p>
    </header>
    <main>
        <!-- tous les éléments à droite: contacts et groupes -->
        <section id="section_droite">
            <!-- pour les contacts -->
            <div id="option_contacts">

            </div>
            <!-- pour les groupes -->
            <div id="option_groupes">

            </div>
        </section>
        <!-- tous les éléments au centre: messages éhangées et champ pour en écrire -->
        <section id="section_principal">
            <div id="messages">

            </div>
            <div id="champ_edition">

            </div>
        </section>
        <!-- tous les éléments à gauche de la page: contact actuel, fichiers partagés -->
        <section id="section_gauche">
            <div id="contact_actuel">

            </div>
            <div id="fichiers_partages">
                
            </div>
        </section>
    </main>
</body>
</html>